<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.khalej.HelpMe">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name="com.khalej.Turbaadmin.Activity.Update_Inside_Annonce_"></activity>
        <activity android:name="com.khalej.Turbaadmin.Activity.Update_Inside_Annonce" />
        <activity android:name="com.khalej.Turbaadmin.Activity.Delete_inside_annonce" />
        <activity android:name="com.khalej.Turbaadmin.Activity.Orders_Month" />
        <activity android:name="com.khalej.Turbaadmin.Activity.Orders_By_Day" />
        <activity android:name="com.khalej.Turbaadmin.Activity.Delete_offer" />
        <activity android:name="com.khalej.Turbaadmin.Activity.Register_tager" />
        <activity android:name="com.khalej.Turbaadmin.Activity.Register_mandop" />
        <activity android:name="com.khalej.Turbaadmin.Activity.RemoveTager_order" />
        <activity android:name="com.khalej.Turbaadmin.Activity.Tager_orders" />
        <activity android:name="com.khalej.Turbaadmin.Activity.Mandop_orders" />
        <activity android:name="com.khalej.Turbaadmin.Activity.All_tager" />
        <activity android:name="com.khalej.Turbaadmin.Activity.All_mandop" />
        <activity android:name="com.khalej.Turbaadmin.Activity.All_users" />
        <activity android:name="com.khalej.Turbaadmin.Activity.All_category" />
        <activity android:name="com.khalej.Turbaadmin.Activity.update_category" />
        <activity android:name="com.khalej.Turbaadmin.Activity.update_category_" />
        <activity android:name="com.khalej.Turbaadmin.Activity.Delete_inside_annonce_admin"/>
        <activity android:name="com.khalej.Turbaadmin.Activity.update_second_category" />
        <activity android:name="com.khalej.Turbaadmin.Activity.update_second_category_" />
        <activity android:name="com.khalej.Turbaadmin.Activity.Add_second_category_tager" />
        <activity android:name="com.khalej.Turbaadmin.Activity.Main_Tager" />
        <activity android:name="com.khalej.Turbaadmin.Activity.Main_Mandop" />
        <activity android:name="com.khalej.Turbaadmin.Activity.Image_inside_offer" />
        <activity android:name="com.khalej.Turbaadmin.Activity.Add_offer_image" />
        <activity android:name="com.khalej.Turbaadmin.Activity.Add_offer" />
        <activity android:name="com.khalej.Turbaadmin.Activity.Login" />
        <activity android:name="com.khalej.Turbaadmin.Activity.Delete_mandop" />
        <activity android:name="com.khalej.Turbaadmin.Activity.Add_Image" />
        <activity android:name="com.khalej.Turbaadmin.Activity.Image_inside_category" />
        <activity
            android:name="com.khalej.Turbaadmin.Activity.WebViewSampleActivity"
            android:screenOrientation="landscape" />
        <activity android:name="com.khalej.Turbaadmin.Activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.khalej.Turbaadmin.Activity.Order_detail"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.khalej.Turbaadmin.Activity.Order_detail_mandop"
            android:screenOrientation="portrait" />
        <activity android:name="com.khalej.Turbaadmin.Activity.Orders" />
        <activity android:name="com.khalej.Turbaadmin.Activity.Orders_mandop" />
        <activity android:name="com.khalej.Turbaadmin.Activity.Order_detail_Ready" />
        <activity android:name="com.khalej.Turbaadmin.Activity.Orders_ready" />
        <activity
            android:name="com.khalej.Turbaadmin.Activity.Delete_annonce"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.khalej.Turbaadmin.Activity.Add_annonce"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.khalej.Turbaadmin.Activity.Delete_first_category"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.khalej.Turbaadmin.Activity.Delete_category"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.khalej.Turbaadmin.Activity.Delete_tager"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.khalej.Turbaadmin.Activity.Add_category_"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.khalej.Turbaadmin.Activity.Add_second_category"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.khalej.Turbaadmin.Activity.MainActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>